body {
  font-family: "Dosis", serif;
}
h2 {
  font-family: "Dosis", serif;
  margin-bottom: 0px;
}
#welcome-message {
  font-family: "Dosis", serif;
  text-align: left;
  margin-left: 20px;
}
.random {
  display: inline;
  padding:10px;
  vertical-align: middle;
  z-index:5;

}
#bio {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 15px;
  width: 420px;
  height: 200px;
  padding-top: 15px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 18px;  
}
.ques {
  text-align: left;
  padding-left: 20px;
}
#tag-suggestions {
  width: 100%;
    width: 420px;
    height:40px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;  
}
.bgr-img {
  background-image:url("assets/img.png");
  background-size: cover;  /* To make the image cover the whole page */
  background-position: center; /* To center the image */
  background-repeat: no-repeat; /* To prevent repeating the image */
}

.logo {
  width:300px;
}
.container {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
#user-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
}


#user-email {
    color: #666;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Dosis", serif;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover, .container:active {
  .top, .bottom {
    &:before, &:after {
      margin-left: 200px;
      transform-origin: -200px 50%;
      transition-delay: 0s;
    }
  }

  .center {
    opacity: 1;
    transition-delay: 0.2s;
  }
}

.top, .bottom {
  position: absolute;
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
  }
}

.top {
  &:before {
    transform: rotate(45deg);
    background: #DDB892;
  }
  &:after {
    transform: rotate(135deg);
    background: #B08968;
  }
}

.bottom {
  &:before {
    transform: rotate(-45deg);
    background: #EDE0D4;
  }
  &:after {
    transform: rotate(-135deg);
    background: #B08968;
  }
}

.center {
  position: absolute;
  width: 100%;  
  max-width: 400px; 
  height: auto;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #333;
}
 
  input {
    width: 100%;
    width: 360px;
    height:50px;
    padding: 10px; 
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 18px;  
  }

  button {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border-radius: 20px;
    background-color: #B08968;
    color: white;
    border: none;
    font-family: "Dosis", serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 100;
  }

  button:hover {
    background-color: #7F5539;
  }


body {
    font-family: "Dosis", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  

/* Common Styles for Profile Page */
.profile-page body {
    font-family: "Dosis", serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .mainBox {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
  }
  
  #tag-input {
    width: 100%;
    width: 380px;
    height:40px;
    padding: 10px; 
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 18px; 
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  #add-tag-button {
    width: auto;
    height: 40px;
    margin-top:0px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    text-align: center;
    vertical-align: top;
  }
  
  #add-tag-button:hover {
    background-color: #2a632d;
  }
  
  #tag-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tag {
    background-color: #e0e0e0; /* Slightly lighter gray for better contrast */
    color: #333; /* Dark text for readability */
    padding: 6px 12px; /* Adjusted padding for better balance */
    border-radius: 18px; /* Slightly more rounded for a modern look */
    margin: 5px;
    font-size: 14px;
    font-weight: 600; /* Slightly bold for emphasis */
    display: inline-block; /* Makes sure it behaves like a tag */
    text-align: center; /* Center the text inside */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: background-color 0.3s, transform 0.2s ease; /* Smooth transitions */
    position: relative; /* Ensures the button is positioned inside the tag */
    display: flex;
    justify-content: center;   
    align-items: center;
  }
  .remove-button {
    width:15px;
    height:15px;
  }

  #find-match-button {
    width:100%;
    background-color: #B08968;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  #find-match-button:hover {
    background-color: #B08968;
  }
  
  #find-match-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  /* Styles for home page */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(to bottom, #EDE0D4 20%, rgba(237, 224, 212, 0) 100%);
    position: fixed; /* Fixes the header to the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensures the header stays above other elements */
  }
  
  .header-logo {
    height: 80px;
    width: auto;

  }
  
  .header-buttons {
    display: flex;
  }
  
  .header-nav-button {
    background-color: #B08968; /* Primary button color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .header-nav-button:hover {
    background-color: #7F5539;
    transform: scale(1.05);
  }
/* From Uiverse.io by LilaRest */ 

.card-container {
  display: flex;
  justify-content: center;
}
.card {
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  opacity: 0.8;
  position: relative;
  padding: 9px;
  margin: 20px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.card:hover {
  transform: scale(1.15); /* Enlarge the card */
  opacity: 1;
  box-shadow: rgba(50, 50, 93, 0.3) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px, rgba(10, 37, 64, 0.4) 0px -2px 6px 0px inset; /* Enhanced shadow on hover */
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  overflow: hidden;
  width: 320px;
  height: 440px;
  padding:20px;
  background-color: var(--contrast);
  border-radius: 30px;
  /* Content style */
  font-size: 18px;
  text-align: justify;
  color: #3f3f3f;
  text-align: top;
}
.match {
  display: flex;
  align-items: center;

}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.card {
  position: relative;
  width: 300px; /* Adjust width as needed */
  height: 400px; /* Adjust height as needed */
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Align image and content vertically */
  text-align: justify;
}

.card-image {
  width: 100%;
  height: 33.33%; /* Makes the image cover one-third of the card's height */
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the top third */
}

.card-content {
  padding: 15px;
  flex: 1; /* Makes this section take up the remaining space */
  background-color: #fff; /* Background color for the content */
}

.profile-name {
  margin-top: 0px;
  font-size: 1.5rem;
  color: #333;
}

.bio {
  margin: 5px;
  font-size: 1rem;
  color: #666;
}

.match-container {
  display: block;
  margin-top: 20px; /* Optional: adds spacing between the carousel and the button */
}